.image-container {
  position: relative;
  width: 75%;
  margin: 0 auto;
}

.text-color {
  color: white;
}

.carousel-title {
  font-size: 125px;
  text-align: center;
  font-weight: 900;
  border-radius: 100%;
}

.carousel-title-secondary {
  font-size: 110px;
  text-align: center;
  font-weight: bolder;
  border-radius: 100%;
}

.carousel-subtitle-secondary {
  font-weight: 400;
  font-size: 30px;
  border-radius: 100%;
}

.carousel-subtitle-tertiary {
  font-size: 50px;
  font-weight: bolder;
  border-radius: 100%;
}

.carousel-subtitle {
  font-weight: 450;
  font-size: 40px;
  border-radius: 100%;
}

.carousel-indicators [data-bs-target] {
  border-radius: 20% !important;
  height: 5px !important;
  width: 30px !important;
}

.image-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
      to top,
      rgba(255, 255, 255, 1) 10%,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 1) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 1) 100%
    ),
    linear-gradient(
      to left,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 1) 100%
    ),
    linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 1) 100%
    );
  pointer-events: none;
}
