@import url("https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap");

body {
  font-family: "Sanchez", serif;
}

.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.typewriter-style {
  color: #27e690;
}

.landing-container {
  width: 100%;
  height: 100vh;
  /* Darkened background */
  background-color: rgba(0, 0, 0, 1) !important; /* Adjust opacity as needed */
  background-image: url("../assets/backgroundImage.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-content {
  text-align: center;
}

.landing-title {
  font-size: 30px;
  color: #fff; /* White text */
  margin-bottom: 20px;
}

.landing-name {
  font-size: 100px;
  color: #fff; /* White text */
  margin-bottom: 20px;
}

.landing-h2 {
  font-size: 32px;
  color: #fff;
  position: relative;
  padding: 100px 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logout-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  background-color: #10814e;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #0b5332;
}
