@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
  }

.teko-category {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #15496e;
}

.money {
 color:  #036704;
}

.alert{
  color: red;
}

.hr-separator{
  border-top: 3px dotted black;
}

.backer-input-shadow{
  box-shadow: 3px 3px 3px #d7dade;
}

.backer-submit{
  box-shadow: 2px 2px 1px #14A44D;
  width: 50%;
  display: inline-block;
}